%h1 Your Passwords!

#centerthing
  %ol
    -session[:current_user].passwords.reverse.each do |p|
      %li= p.text
  .row
    %a{:href => '/'} Start Over
    %a{:href => '/clear_passwords'} Clear Passwords
    